@import "./mixins.scss";
.b-loved {
  background: url("img/love.png") rgb(24, 24, 24);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  padding: 57px;
  text-align: center;
  &__btn {
    cursor:pointer;
    border: 1px solid;
    border-radius: 30px;
    padding: 6px 20px 4px 20px;
    background-color: Transparent;
    font-family:Tajawal;
    font-size: 16px;
    color: white;
  }
  &__p {
    font-family:Tajawal;
    font-size: 25px;
    color: white;

  }
}