@import "./mixins.scss";
.b-testimonials {
  background-color: rgb(231, 231, 231);
  padding-bottom: 78px;
  @include md {
    padding-bottom: 142px;
  }
  &__card {
    background-color: #fff;
    position: relative;
    padding: 10px;
    @include md {
      padding: 79px;
      top: 46px;
    }
  }
  &__img {
    @include lg {
      bottom: 28px;
      left: 0;
    }
  }
  &__text {
    position: relative;
    text-align: center;
    @include lg {
      text-align: left;
    }
    @include xl {
      text-align: left;
      right: 308px;
    }
  }
  &__h2 {
    color: rgb(0, 194, 145);
    font-weight: bold;
    font-family: Tajawal;
    font-size: 18px;
  }
  &__h3 {
    font-family: Tajawal;
    font-size: 18px;
  }
  &__p {
    color: rgb(87, 87, 87);
    font-family: Montserrat;
    font-size: 14px;
  }
}
