@import "./mixins.scss";
.b-latest {
  background: url("img/Latest.png")rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-position: center;
  padding: 73px 0 89px 92px;
  &__h2 {
    color: #ffffff;
    font-family: Abel;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 23px;
    // @include md {
    // padding-top: 136px;
    // line-height: 28px;
    // }
  }
  &__h4 {
    color: #ffffff;
    font-family:Tajawal;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 81px;
    // @include md {
    // margin-bottom: 126px;
    // line-height: 28px;
    // }
  }
  &__title {
    color: #ffffff;
    font-family: Tajawal;
    font-size: 26px;
    line-height: 0;
  }
  &__subtitle {
    color: #ffffff;
    font-style: italic;
    font-size: 12px;
    text-transform: uppercase;
  }
  &__referens {
    color: #a0a0a0;
    font-size: 12px;
    letter-spacing: 2px;
  }
  &__text {
    color: #ffffff;
    font-size: 16px;
    padding: 40px 0;
  }
  &__btn {
    color: #ffffff;
    cursor:pointer;
    border: none;
    background-color: Transparent;
    font-family:Tajawal;
    font-size: 18px;
  }
  &__info{
    position: relative;
    left: 66px;
  }
}