@import "./mixins.scss";
.b-price {
  background-color: rgb(228, 228, 228);
  &__name {
    background-color:rgb(0, 195, 145);
color: rgb(255, 255, 255);
  }
  &__cost {
background-color: #fff;
color: rgb(0, 195, 145);
  }
  &__month {
background-color: #fff;
color: rgb(0, 195, 145);
  }
}