@import "./mixins.scss";
.b-contacts {
  background: rgb(223, 223, 223);
  padding-bottom: 143px;
  
  &__img {
    height: 173px;
    width: 287px;
  }
  &__title {
    background-color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 0;
    width: 287px;
    padding: 48px 0;
    @include md {
      margin: 0;
    }
  }
  &__card {
    padding-top: 60px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    @include lg {
      padding-bottom: 0;
    }
  }
  &__up {
    padding: 23px;
    @include md {
      padding: 76px;
      margin-bottom: 54px;
    }
  }
  &__input {
    background-color: Transparent;
    border: 1px solid;
    color: #c4c4c4;
    font-family: Abel;
    font-size: 16px;
    margin: 6px;
    padding: 8px 0;
    @include md {
      height: 40px;
      width: 600px;
    }
    @include lg {
      width: 260px;
      margin-bottom: 20px;
    }
    @include xl {
      margin: 0;
      width: 285px;
    }
  }
  &__empty {
    position: relative;
    height: 200px;
    width: 290px;
    left: 6px;
    margin: 0px;
    @include md {
      height: 200px;
      width: 600px;
      margin: 0px;
    }
    @include lg {
      height: 200px;
      width: 800px;
      margin: 0px;
    }
    @include xl {
      height: 212px;
      width: 945px;
      left: -23px;
      margin: 23px;
    }
  }
  &__btn {
    cursor: pointer;
    background-color: rgb(0, 195, 145);
    border: none;
    overflow: hidden;
    outline: none;
    color: white;
    position: relative;
    padding: 8px 31px;
    left: 67px;
    top: 21px;
    @include md {
      height: 40px;
      width: 600px;
      left: 6px;
      margin: 0px;
    }
    @include lg {
      width: 800px;
      margin: 0px;
    }
    @include xl {
      padding: 8px 431px;
      left: 0;
      width: 945px;
    }
  }
}
