.b-contacts {
background: rgb(223, 223, 223);
  &__card {
    display: flex;
  flex-direction: row;
  justify-content: center;
  }
  &__bg1 {
  background: url("img/office.jpg")rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 40px;
  }
  &__bg2 {
      background: url("img/office2.jpeg")rgba(0, 0, 0, 0.5);
      background-blend-mode: darken;
      background-size: 100%;
      background-repeat: no-repeat;
      padding: 40px;
  }
  &__bg3 {
  background: url("img/office3.jpg")rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 40px;
}
}