@import "./mixins.scss";
.b-hello { 
  &__text {
    padding: 36px 0 20px;
    @include md {
      padding: 114px 168px 0 250px;
    }
    @include sm {
      padding: 62px 43px 0 20px;
    }
  }
  &__title {
    font-family: Abel;
    font-size: 20px;
    letter-spacing: 4px;
  }
  &__subtitle {
    font-family:Tajawal;
    font-size: 16px;
  }
  &__btn {
    cursor:pointer;
    border: 1px solid;
    border-radius: 29px;
    background-color: Transparent;
    font-family:Tajawal;
    font-size: 18px;
    padding: 6px 32px 4px 32px;
    left: -9px;
    top: 35px;
    position: relative;
  }
  &__ipad {
    padding: 88px 0 57px 0;
    position: relative;
    left: -30px;
  }
}
