@import "./mixins.scss";
.b-hello {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  &__title {
    font-family: Abel;
    font-size: 20px;
  }
  &__subtitle {
    font-family:Tajawal;
    font-size: 12px;
  }
  // &__ipad {
  //  position: relative;
  //  right: 30px;
  // }
  &__btn {
    cursor:pointer;
    border: 1px solid;
    border-radius: 15px;
    background-color: Transparent;
    font-family:Tajawal;
    font-size: 14px;
  }
}
