@import "./mixins.scss";
.b-hello { 
  padding-bottom: 40px;
  @include md { 
    padding-bottom: 0;
  }
  &__text {
    padding: 36px 0 20px;
    @include md {
      padding: 114px 168px 0 250px;
    }
  }
  &__title {
    font-family: Abel;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
    @include md {
      text-align: left;
    }
  }
  &__subtitle {
    font-family:Tajawal;
    font-size: 16px;
  }
  &__btn {
    cursor:pointer;
    border: 1px solid;
    border-radius: 29px;
    background-color: Transparent;
    font-family:Tajawal;
    font-size: 18px;
    padding: 6px 32px 4px 32px;
    @include md {
      left: -9px;
      position: relative;
    }
  }
  &__ipad {
    position: relative;
   text-align: center;
   top: 38px;
    @include sm {
    padding: 88px 0 57px 0;
    right: 36px;
    }
    @include md {
      right: -9px;
    }
  }
}
