@import "./mixins.scss";
.b-feature {
  &--bg1 {
    background-image: url("img/style.jpg");
    padding: 300px 10px 10px 14px;
    background-color: rgba($color: #000000, $alpha: 0.5);

  }
  &--bg2 {
    background-image: url("img/vintage.jpg");
    padding: 300px 10px 10px 14px;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  &--bg3 {
    background-image: url("img/branding.png");
    padding: 300px 10px 10px 14px;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}