.b-submit {
    background: url("img/mountin.jpg") rgb(0, 100, 75);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 36px;
   

&__btn {
  cursor:pointer;
  border: 1px solid;
  border-radius: 30px;
  padding: 4px 20px 4px 20px;
  background-color: Transparent;
  font-family: Tajawal;
  font-size: 18px;
  color: white;
  position: relative;
  right: 45px;
}
&__p {
  font-family: Tajawal;
  font-size: 22px;
  color: white;
  margin: 0;
}
}