.b-portfolio {
  background-color:rgb(211, 211, 211);
  &__btn {
  cursor:pointer;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline:none;
  color: rgb(0, 0, 0);
    &:hover {
    border-bottom: 1px solid  rgb(0, 194, 145);
    }
  }
  &__btn-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 88px;
  padding-bottom: 156px;
  }
  
  &__h2 {
  font-family:Tajawal;
  font-size: 22px;
  color:  rgb(0, 194, 145);
  text-transform: uppercase;
  text-align: center;
  }
  &__h4 {
    font-family:Tajawal;
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
  &__port1 {
  }
  &__port5 {
    position: relative;
    bottom: -6px;
    }
  &__port6 {
    position: relative;
    bottom: 124px;
    }
  &__port7 {
    position: relative;
    bottom: 50px;
    }
  &__port8 {
    position: relative;
    top: 9px;
    }
  &__port9 {
    position: relative;
    }
  &__port10 {
    position: relative;
    bottom: 148px;
  }
  &__port11 {
    position: relative;
    bottom: 44px;
  }
  &__port12 {
    position: relative;
    bottom: 90px;
  }
  &__start-project {
    background: url("img/project.png") rgb(0, 100, 75, 0.7);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;
    position: relative;
    bottom: 104px;
    padding-bottom: 16px;
  }
  &__start-btn {
  cursor: pointer;
  background-color: Transparent;
  border: 1px solid;
  overflow: hidden;
  outline: none;
  color: white;
  border-radius: 30px;
  padding: 4px 20px 4px 20px;
  position: relative;
  bottom: 47px;
  left: 16px;
  }
  &__start-p {
    font-family:Tajawal;
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding: 52px;
    }
}
.b-portfolio-card {
  background-color:rgba(0, 0, 0, 0.5);
  position: absolute; 
  z-index: 1;
  opacity: 0;
  max-width: 260px;
  max-height: 360px;
  padding: 147px 0 135px 0;
  ::before {
    content: '';
    left: 0; top: -30px;
    width: 0; height: 0;
    position: absolute;
  }
  &__member {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  &__member:hover .b-portfolio-card {
    opacity: 1;
   }
}