@import "./mixins.scss";
.b-team {
  padding-bottom: 130px;
  @include lg {
  padding-bottom: 213px;
  }
  &__img {
  position: relative;
  text-align: center;
  @include lg {
    right: 116px;
  top: 65px;
  }
  }
  &__text {
  position: relative;
  text-align: center;
  top: 65px;
  @include lg {
  top: 167px;
  left: -26px;
  }
  @include xl {
    text-align: right;
    top: 168px;
    left: 7px;
  }
  }
  &__p {
    font-family: Raleway;
    font-size: 13px;
    line-height: 20px;
    color: black;
  }
  &__h5 {
    font-family: Merriweather;
    font-size: 15px;
    font-style: italic;
    line-height: 28px;
    text-align: center;
    display: inline;
    color: black;
  }
  &__h4 {
    font-family: "Merriweather - Bold";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: inline;
    color: black;
  }
}